*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}

.container{
    width: 450px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    
}

.header{
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px 10px 0 0;

}

label{
    display: block;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

input{
    width: 90%;
    padding: 10px;
    

}